@inherits UmbracoViewPage


@{
	var homePage = Umbraco.AssignedContentItem.AncestorOrSelf<HomePage>();
	var navigationItems = homePage.MainNavigation;
}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="#!">Oskars Shop</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">
						Home
					</a>
				</li>
				@if (navigationItems != null && navigationItems.Any())
				{
					var dropdownId = 0;
					foreach (var item in navigationItems)
					{
						var hasChildLinks = item.Sublinks != null && item.Sublinks.Any();

						if (hasChildLinks)
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="https://google.com" id="navbarDropdown@(dropdownId)" role="button" data-bs-toggle="dropdown" aria-expanded="False">@item.Title</a>
							
							<ul class="dropdown-menu border-0" aria-labelledby="navbarDropDown@(dropdownId)">
								@foreach (var subLink in item.Sublinks)
								{
									<li><a class="dropdown-item" href="@subLink.Url" target="@subLink.Target">@subLink.Name</a></li>
								}
							</ul>
										</li>
						}
						else
						{
							<li class="nav-item">
								<a class="nav-link" href="@item.Link.Url" target="@item.Link.Target">@item.Title</a>
							</li>
						}

						dropdownId++;

					}

				}

			</ul>
			<form class="d-flex">
				<button class="btn btn-outline-dark" type="submit">
					<i class="bi-cart-fill me-1"></i>
					Cart
					<span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
				</button>
			</form>
		</div>
	</div>
</nav>